*{ box-sizing:border-box;
  moz-box-sizing:border-box;
  webkit-box-sizing:border-box;
}


body{
  background-image: url('../imgs/capa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section{
  height: 91%!important;
}

p{
  text-align: justify;
}

h1{
  margin-bottom: 40px!important;
}

.fonte{
  font-size: 1.5em;
}

img{
  margin-left: auto;
  margin-right: auto;
}
